/*header and topbar css*/

body {
	background: url(../images/raspbg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #777777;
	background-color: #ffffff;
	font-family: 'Pontano Sans', sans-serif;
	border-color: #dddddd;
}


/*heading - Ariel M. Costa*/
.name {
	background-color: #be0828;
	text-align: center;
	position: relative;
	left: 25%;
	color: #ffffff;
	font-family: 'Trirong', serif;
	transition: color 2s;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.links {
	position: relative;
	right: 10%;
}


a {
	text-decoration: none;
	transition: background-color 1s ease;
}

a:link {
	color: #ffffff;
	
}

a:visited {
	color: #ffffff;
}

/*hover color change only for navbar links*/
.links a:hover {
	color: #7f7f7f;
	background-color: #be0828;
}

/*hover change only for h1*/
h1:hover {
	color: #7f7f7f;
}

.thumbnail:hover {
	opacity: 0.5;
}

.foliolinks:hover {
	opacity: 0.5;
}

a:hover {
	font-weight: bold;
}

a:active {
	color: #cccccc;
}

/*main content css*/

h2, h3, h4, h5 {
	color: #be0828;
	font-family: 'Trirong', serif;
}

.caption {
	text-align: center;
}

/*profile picture*/
.profile {
	float: left;
	width: 150px;
	height: auto;
	margin: 10px;
}

.turtles {
	background-color: rgba(255,255,255,0.74);
}

/*links to portfolio projects*/
.foliolinks {
	display: inline-block;
	margin: 10px;
	border: 1px solid #cccccc;
}

/*placeholder portfolio pictures*/
.foliopic {
	width: 268px; 
	height: 174px
}

/*portfolio project name*/
.project {
	font-family: 'Trirong', serif;
	background-color: #be0828;
	color: #ffffff;
	text-align: center;
	line-height: 3em;
	position: relative;
	bottom: 65px;
	margin-bottom: -65px;
}


/*connect with me section*/
.connect {
	background-color: #ffffff;
    border: solid 2px #cccccc;
    text-align: center;
    background-color: rgba(255,255,255,0.84);
}



/*connect with me logo images*/
.social {
	width: 75px; 
	height: auto;
	opacity: 0.84;
	border-radius: 50%;
}


input:hover {
	color: #ffffff;
	font-weight: bold;
	background-color: #be0828;
}

textarea:hover {
	color: #ffffff;
	font-weight: bold;
	background-color: #be0828;
}

/*contact me form*/
input, textarea {
	font-family: 'Pontano Sans', sans-serif;
	color: #4aaaa5;
	transition: color 1s, background-color 1s;
}

textarea {
	min-height: 140px;
	width: 95%;
}

body {
	margin-bottom: 70px;
}

.footer {
	background-color: #93A5B1;
	color: #ffffff;
	text-align: center;
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #be0828;
	height: 70px; 
	opacity: 0.85;
}

.topbar {
	opacity: 0.85;
	background-color: #93A5B1
}

.copyright {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: .75em;
}


@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
